body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#break {
  margin: 20px;
  align-self: flex-start;
}
#session {
  margin: 20px;
  align-self: flex-end;
}

#break-label,
#session-label {
  font-size: 20px;
  color: #333;
}

#break-length,
#session-length {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  font-size: 24px;
  margin: 5px;
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
}

#break-increment:hover,
#break-decrement:hover,
#session-increment:hover,
#session-decrement:hover {
  background-color: #3949ab;
}

#start_stop,
#reset {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
}

#start_stop:hover,
#reset:hover {
  background-color: #43a047;
}

#timer-label {
  font-size: 28px;
  color: #444;
  font-weight: bold;
}

#time-left {
  font-size: 60px;
  color: #222;
  font-weight: bold;
  margin-top: 10px;
}

#session-length,
#break-length {
  font-size: 28px;
  color: #444;
  font-weight: bold;
}

audio {
  display: none;
}
